.nav{
    background-color: black; 
    color: white;
    padding: 20px;
    display: flex;

}
#title{
    width: 30%;
     text-align: center;
}
#menu{
    width: 60%;
    text-align: center;
    gap:10px;
}
a{
    color:white;
    margin-right:50px;
    text-decoration: none;


}
.add{

    margin-left: 10px;


}c

.add span{
    margin-top: 5px;
}